/* Start about css*/
@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');

body{
	font-family: 'Josefin Sans', sans-serif;
}
.wrapper {
    margin-top: 50px;
}

.wrapper label {
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin: 600px;
    margin-bottom: 100px;
    text-align: center;
}

.team {
    margin: 100px;
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
}

.team .team_member {
    background: #fff;
    margin: 20px;
    margin-bottom: 100px;
    width: 350px;
    padding: 30px;
    line-height: 20px;
    color: #8e8b8b;
    position: relative;
}

.team .team_member h3 {
    color: #81c644;
    font-size: 26px;
    margin-top: 50px;
}

.team .team_member p.role {
    color: #ccc;
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
}

.team .team_member .team_img {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fff;
}

.team .team_member .team_img img {
    width: 100px;
    height: 100px;
    padding: 5px;
}

.ava {
    border-radius: 50px;
}

/* End about css*/   
     /* Start index css*/
    /*
        màu của chữ trong layout header:  color: rgb(223, 90, 90); đỏ nhạt
        màu hồng nhạt của background rgb(223, 203, 203) đậm hơn 1 chút rgb(240, 178, 178);
        hệ màu thứ 2 radial-gradient(rgb(255, 255, 255), rgb(26, 187, 166): xanh nhạt
        */
        /*------------Cart Design ------------------*/
        
        .cart-page {
            margin: 0px auto;
            padding: 10px;
        }
        
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        .cart-info {
            display: flex;
            flex-wrap: wrap;
        }
        
        th {
            text-align: left;
            padding: 5px;
            color: #fff;
            background: rgb(201, 117, 117);
            font-weight: normal;
        }
        
        td {
            padding: 10px 5px;
        }
        
        td input {
            width: 40px;
            height: 30px;
            padding: 5px;
        }
        
        td a {
            color: rgb(201, 117, 117);
            font-size: 12px;
        }
        
        td img {
            width: 80px;
            height: 80px;
            margin-right: 10px;
        }
        
        .total-price {
            display: flex;
            justify-content: flex-end;
        }
        
        .total-price table {
            border-top: 3px solid rgb(201, 117, 117);
            width: 100%;
            max-width: 350px;
        }
        
        td:last-child {
            text-align: right;
        }
        
        th:last-child {
            text-align: right;
        }
        /*Information*/
        
        .contact-box {
            background: #fff;
            display: flex;
            padding: 10px;
        }
        
        .contact-left form {
            padding: 20px 20px;
        }
        
        .contact-left {
            flex-basis: 60%;
            padding: 40px 60px;
        }
        
        .contact-right {
            flex-basis: 60%;
            padding: 40px;
        }
        
        .input-row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        
        .input-row .input-group {
            flex-basis: 45%;
        }
        
        input {
            width: 100%;
            border: none;
            border-bottom: 1px solid #ccc;
            outline: none;
            padding-bottom: 5px;
        }
        
        label {
            margin-bottom: 6px;
            display: block;
            color: #1c00bc;
        }
        
        .btn-ship {
            background: rgb(59, 111, 255);
            width: 100px;
            height: 35px;
            padding: 10px;
            border: none;
            outline: none;
            color: #fff;
            border-radius: 30px;
            margin-top: 20px;
            box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.5);
        }
        /*---Search bar---*/

.search-bar {
    position: relative;
    margin: auto;
    top: 0px;
    left: 5px;
    right: 20px;
    bottom: 0;
    width: 100px;
    height: 100px;
}
.form-search {
	
    background: #fff;
    width: 300px;
    height: 120px;
    
    padding: 10px 10px;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0, 0.1);
    overflow: hidden;
}
.search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background: rgb(211, 120, 196);
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 25px 0 crimson;
}

.search-bar:hover {
    cursor: pointer;
}

.search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 22px;
    right: 0;
    bottom: 0;
    left: 22px;
    width: 12px;
    height: 2px;
    background: #fff;
    transform: rotate(45deg);
    transition: all .5s;
}

.search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all .5s;
}

.search-bar input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: rgb(212, 126, 194);
    color: white;
    text-shadow: 0 0 10px rgb(212, 126, 194);
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0rgb(212, 126, 194), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
}

.search-bar input:hover {
    cursor: pointer;
}

.search-bar input:focus {
    width: 300px;
    opacity: 0.9;
    cursor: text;
}

.search-bar input:focus~.search {
    right: -450px;
    background: #151515;
    z-index: 6;
}

.search-bar input:focus~.search-bar::before {
    top: 0;
    left: 0;
    width: 25px;
}

.search-bar input:focus~.search-bar::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}

.search-bar input:focus~.search-bar::placeholder {
    color: white;
    opacity: 0.5;
    font-weight: bolder;
}
/* End                         */
    /*DropDown Products*/
	.dropbtn {
	    
	    color: rgb(223, 90, 90);
	    padding: 16px;
	    font-size: 16px;
	    border: none;
	}
	.dropdown {
	    position: relative;
	    display: inline-block;
	}
	.dropdown-content {
	    display: none;
	    position: absolute;
	    background-color: rgb(223, 199, 210);
	    min-width: 160px;
	    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	    z-index: 1;
	}
	.dropdown-content a {
	    color: black;
	    padding: 12px 16px;
	    text-decoration: none;
	    display: block;
	}
	.dropdown-content a:hover {
	    background-color: #ddd;
	}
	.dropdown:hover .dropdown-content {
	    display: block;
	}
	.dropdown:hover .dropbtn {
	    background-color: rgb(223, 199, 210);
	}
	    * {
	        margin: 0;
	        padding: 0;
	        box-sizing: border-box;
	    }
    /*set up thanh navbar*/
    
    .navbar {
        display: flex;
        align-items: center;
        padding: 30px;
    }
    
    nav {
        font-size: 20px;
        flex: 1;
        text-align: right;
    }
    
    nav ul {
        display: inline-block;
        list-style-type: none;
    }
    
    nav ul li {
        display: inline-block;
        margin-right: 20px;
    }
    /*set up màu cho Chữ tag a và p*/
    
    a {
        text-decoration: none;
        color: rgb(223, 90, 90);
    }
    
    p {
        color: rgb(223, 90, 90);
    }
    
    .container {
        max-width: 1300px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    /*set up thanh row và img của row*/
    
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        
    }
    
    .col-2 {
        flex-basis: 50%;
        min-width: 300px;
    }
    
    .col-2 img {
        max-width: 100%;
        min-width: 120%;
        padding: 100px 0;
    }
    
    .col-2 h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
    }
    /*set button tromg row*/
    
    .btn {
        display: inline-block;
        background: #ff523b;
        color: #fff;
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 30px;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    }
    
    .btn:hover {
        background: #14a6ca;
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }
    /*set header*/
    
    .header {
        background: radial-gradient(rgb(190, 175, 175), #ffd6ff);
    }
    
    .header .row {
        margin-top: 70px;
    }
    /*set cho categories*/
    
    .categories {
        margin: 70px 0;
    }
    
    .col-3 {
        flex-basis: 30%;
        min-width: 250px;
        margin-bottom: 30px;
    }
    
    .col-3 img {
        width: 100%;
    }
    
    .small-container {
        max-width: 1080px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .col-4 {
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
        transform: transform 0.5s;
    }
    
    .col-4 img {
        width: 100%;
    }
    /*Dấu gạch ngang Dưới Chữ Feature */
    
    .title {
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        line-height: 60px;
        color: rgb(110, 110, 110);
    }
    
    .title::after {
        content: '';
        background: rgb(240, 131, 131);
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate3d(-50px, 0, 0);
    }
    
    h4 {
        color: #555;
        font-weight: normal;
    }
    
    .col-4 p {
        font-size: 16px;
    }
    
    .rating {
        color: #ff523b;
    }
    /*Hover effect cho category */
    
    .col-4:hover {
        transform: translate3d(5px, -5px, 10px);
    }
    /*setup offer*/
    
    .offer {
        background: radial-gradient(rgb(255, 255, 255), rgb(26, 187, 166));
        margin-top: 80px;
        padding: 30px 0;
    }
    
    col-2 .offer-img {
        padding: 50px;
    }
    
    .small {
        color: #555
    }
    /*---testimonial---*/
    
    .testimonial {
        padding-top: 100px;
    }
    
    .testimonial .col-3 {
        text-align: center;
        padding: 40px 20px;
        box-shadow: 0 0 20px 0px rgba(0, 1, 1, 1, 0.1);
        cursor: pointer;
        transition: transform 0.5s;
    }
    
    .testimonial .col-3 img {
        width: 50px;
        margin-top: 20px;
        border-radius: 100%;
    }
    
    .testimonial .col-3:hover {
        transform: translate3d(0, -10px, 0);
    }
    
    .fa .fa-quote-left {
        font-size: 12px;
        color: #ff523b;
    }
    
    .col-3 p {
        font-size: 16px;
        margin: 12px 0;
        color: #777;
    }
    
    .testimonial .col-3 h3 {
        font-weight: 600;
        color: #555;
        font-size: 16px;
    }
    /*---testimonial---*/
    
    .brands {
        margin: 100px auto;
    }
    
    .col-5 {
        width: 160px;
    }
    
    .col-5 img {
        width: 100%;
        cursor: pointer;
        filter: grayscale(100%);
    }
    
    .col-5 img:hover {
        filter: grayscale(0%)
    }
    /*---footer---*/
    
    .footer {
        background: #000;
        color: #8a8a8a;
        font-size: 14px;
        padding: 60px 0 20px;
    }
    
    .footer p {
        color: #8a8a8a;
    }
    
    .footer h3 {
        color: #fff;
        margin-bottom: 20px;
    }
    
    .footer-col-1,
    .footer-col-2,
    .footer-col-3,
    .footer-col-4,
    .footer-col-5 {
        min-width: 250px;
        margin-bottom: 20px;
    }
    
    .footer-col-1 {
        flex-basis: 30%;
    }
    
    .footer-col-2 {
        flex: 1;
        text-align: center;
    }
    
    .footer-col-2 img {
        width: 180px;
        margin-bottom: 20px;
    }
    
    .footer-col-3,
    .footer-col-4 {
        flex-basis: 12%;
        text-align: center;
    }
    
    ul {
        list-style-type: none;
    }
    /*set up Logo cho app*/
    
    .app-logo {
        margin-top: 20px;
    }
    
    .app-logo img {
        width: 140px;
    }
    
    .footer hr {
        border: none;
        background: #b5b5b5;
        height: 1px;
        margin: 20px 0;
    }
    
    .copyright {
        text-align: center;
    }
    /*set up Button Menu ở Header*/
    
    .menu-icon {
        width: 28px;
        margin-left: 20px;
        display: none;
    }
    /* media query for menu*/
    
    @media only screen and (max-width:1080px) {
        nav ul {
            position: absolute;
            top: 100px;
            left: 0;
            background: rgb(204, 149, 209);
            width: 100%;
            overflow: hidden;
            transition: max-height 0.5s;
        }
        nav ul li {
            display: block;
            margin-right: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        nav ul li a {
            color: #fff;
        }
        .menu-icon {
            display: block;
            cursor: pointer;
        }
    }
    
    @media only screen and (max-width:600px) {
        .row {
            text-align: center;
        }
        .col-2,
        .col-3,
        .col-4 {
            flex-basis: 100%;
        }
    }
   /* End index css*/
   
   
  /* Start product css*/
  /*
        màu của chữ trong layout header:  color: rgb(223, 90, 90); đỏ nhạt
        màu hồng nhạt của background rgb(223, 203, 203) đậm hơn 1 chút rgb(240, 178, 178);
        hệ màu thứ 2 radial-gradient(rgb(255, 255, 255), rgb(26, 187, 166): xanh nhạt
        */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*set up thanh navbar*/

.navbar {
    display: flex;
    align-items: center;
    padding: 30px;
}

nav {
    font-size: 20px;
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}


/*set up màu cho Chữ tag a và p*/

a {
    text-decoration: none;
    color: rgb(223, 90, 90);
}

p {
    color: rgb(223, 90, 90);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


/*set up thanh row và img của row*/

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    min-width: 120%;
    padding: 100px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}


/*set button tromg row*/

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
}

.btn:hover {
    background: #14a6ca;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}


/*set header*/

.header {
    background: radial-gradient(rgb(190, 175, 175), #ffd6ff);
}

.header .row {
    margin-top: 70px;
}


/*set cho categories*/

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transform: transform 0.5s;
}

.col-4 img {
    width: 100%;
}


/*Dấu gạch ngang Dưới Chữ Feature */

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(110, 110, 110);
}

.title::after {
    content: '';
    background: rgb(240, 131, 131);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50px, 0, 0);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 16px;
}

.rating {
    color: #ff523b;
}


/*Hover effect cho category */

.col-4:hover {
    transform: translate3d(5px, -5px, 10px);
}


/*setup offer*/

.offer {
    background: radial-gradient(rgb(255, 255, 255), rgb(26, 187, 166));
    margin-top: 80px;
    padding: 30px 0;
}

col-2 .offer-img {
    padding: 50px;
}

.small {
    color: #555
}


/*---testimonial---*/

.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 1, 1, 1, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 100%;
}

.testimonial .col-3:hover {
    transform: translate3d(0, -10px, 0);
}

.fa .fa-quote-left {
    font-size: 12px;
    color: #ff523b;
}

.col-3 p {
    font-size: 16px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}


/*---testimonial---*/

.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0%)
}


/*---footer---*/

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4,
.footer-col-5 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}


/*set up Logo cho app*/

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}


/*set up Button Menu ở Header*/

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}


/* media query for menu less than 800px size*/

@media only screen and (max-width:800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: rgb(204, 149, 209);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}


/* media query for less than 600px size*/

@media only screen and (max-width:600px) {
    .row {
        text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
    .single-product .row {
        text-align: left;
    }
    .single-product .col-2 {
        padding: 20px 0;
    }
    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }
}


/*all products page*/

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 2px solid rgb(240, 178, 178);
    border-radius: 10%;
    padding: 5px;
}

select:focus {
    outline: none;
}


/*Button chuyển trang*/

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.page-btn span:hover {
    background: rgb(240, 178, 178);
    color: #fff
}


/*------------Single products details ------------------*/

.single-product {
    margin-top: 80px;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1.5px solid #ff523b;
}

input:focus {
    outline: none;
}

.single-product .fa {
    color: #ff523b;
    margin-left: 10px;
}


/*------------Slider images ------------------*/

.small-img-row {
    width: 100%;
    min-width: 10px;
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}
  /* End product css*/
  
  /* Strart login css*/ 
      /*
        màu của chữ trong layout header:  color: rgb(223, 90, 90); đỏ nhạt
        màu hồng nhạt của background rgb(223, 203, 203) đậm hơn 1 chút rgb(240, 178, 178);
        hệ màu thứ 2 radial-gradient(rgb(255, 255, 255), rgb(26, 187, 166): xanh nhạt
        */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /*set up thanh navbar*/
    
    .navbar {
        display: flex;
        align-items: center;
        padding: 30px;
    }
    
    nav {
        font-size: 20px;
        flex: 1;
        text-align: right;
    }
    
    nav ul {
        display: inline-block;
        list-style-type: none;
    }
    
    nav ul li {
        display: inline-block;
        margin-right: 20px;
    }
    /*set up màu cho Chữ tag a và p*/
    
    a {
        text-decoration: none;
        color: rgb(223, 90, 90);
    }
    
    p {
        color: rgb(223, 90, 90);
    }
    
    .container {
        max-width: 1600px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    /*set up thanh row và img của row*/
    
    .row {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .col-2 {
        flex-basis: 50%;
        min-width: 300px;
    }
    
    .col-2 img {
        max-width: 100%;
        min-width: 120%;
        padding: 100px 0;
    }
    
    .col-2 h1 {
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
    }
    /*set button tromg row*/
    
    .btn {
        display: inline-block;
        background: #ff523b;
        color: #fff;
        padding: 8px 30px;
        margin: 30px 0;
        border-radius: 30px;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
    }
    
    .btn:hover {
        background: #14a6ca;
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
        outline-color: rgba(255, 255, 255, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #427388;
    }
    /*set header*/
    
    .header {
        background: radial-gradient(rgb(190, 175, 175), #ffd6ff);
    }
    
    .header .row {
        margin-top: 70px;
    }
    /*set cho categories*/
    
    .categories {
        margin: 70px 0;
    }
    
    .col-3 {
        flex-basis: 30%;
        min-width: 250px;
        margin-bottom: 30px;
    }
    
    .col-3 img {
        width: 100%;
    }
    
    .small-container {
        max-width: 1080px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .col-4 {
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
        transform: transform 0.5s;
    }
    
    .col-4 img {
        width: 100%;
    }
    /*Dấu gạch ngang Dưới Chữ Feature */
    
    .title {
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        line-height: 60px;
        color: rgb(110, 110, 110);
    }
    
    .title::after {
        content: '';
        background: rgb(240, 131, 131);
        width: 80px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate3d(-50px, 0, 0);
    }
    
    h4 {
        color: #555;
        font-weight: normal;
    }
    
    .col-4 p {
        font-size: 16px;
    }
    
    .rating {
        color: #ff523b;
    }
    /*Hover effect cho category */
    
    .col-4:hover {
        transform: translate3d(5px, -5px, 10px);
    }
    /*setup offer*/
    
    .offer {
        background: radial-gradient(rgb(255, 255, 255), rgb(26, 187, 166));
        margin-top: 80px;
        padding: 30px 0;
    }
    
    col-2 .offer-img {
        padding: 50px;
    }
    
    .small {
        color: #555
    }
    /*---testimonial---*/
    
    .testimonial {
        padding-top: 100px;
    }
    
    .testimonial .col-3 {
        text-align: center;
        padding: 40px 20px;
        box-shadow: 0 0 20px 0px rgba(0, 1, 1, 1, 0.1);
        cursor: pointer;
        transition: transform 0.5s;
    }
    
    .testimonial .col-3 img {
        width: 50px;
        margin-top: 20px;
        border-radius: 100%;
    }
    
    .testimonial .col-3:hover {
        transform: translate3d(0, -10px, 0);
    }
    
    .fa .fa-quote-left {
        font-size: 12px;
        color: #ff523b;
    }
    
    .col-3 p {
        font-size: 16px;
        margin: 12px 0;
        color: #777;
    }
    
    .testimonial .col-3 h3 {
        font-weight: 600;
        color: #555;
        font-size: 16px;
    }
    /*---testimonial---*/
    
    .brands {
        margin: 100px auto;
    }
    
    .col-5 {
        width: 160px;
    }
    
    .col-5 img {
        width: 100%;
        cursor: pointer;
        filter: grayscale(100%);
    }
    
    .col-5 img:hover {
        filter: grayscale(0%)
    }
    /*---footer---*/
    
    .footer {
        background: #000;
        color: #8a8a8a;
        font-size: 14px;
        padding: 60px 0 20px;
    }
    
    .footer p {
        color: #8a8a8a;
    }
    
    .footer h3 {
        color: #fff;
        margin-bottom: 20px;
    }
    
    .footer-col-1,
    .footer-col-2,
    .footer-col-3,
    .footer-col-4,
    .footer-col-5 {
        min-width: 250px;
        margin-bottom: 20px;
    }
    
    .footer-col-1 {
        flex-basis: 30%;
    }
    
    .footer-col-2 {
        flex: 1;
        text-align: center;
    }
    
    .footer-col-2 img {
        width: 180px;
        margin-bottom: 20px;
    }
    
    .footer-col-3,
    .footer-col-4 {
        flex-basis: 12%;
        text-align: center;
    }
    
    ul {
        list-style-type: none;
    }
    /*set up Logo cho app*/
    
    .app-logo {
        margin-top: 20px;
    }
    
    .app-logo img {
        width: 140px;
    }
    
    .footer hr {
        border: none;
        background: #b5b5b5;
        height: 1px;
        margin: 20px 0;
    }
    
    .copyright {
        text-align: center;
    }
    /*set up Button Menu ở Header*/
    
    .menu-icon {
        width: 28px;
        margin-left: 20px;
        display: none;
    }
    /* media query for menu less than 800px size*/
    
    @media only screen and (max-width:1080px) {
        nav ul {
            position: absolute;
            top: 70px;
            left: 0;
            background: rgb(204, 149, 209);
            width: 100%;
            overflow: hidden;
            transition: max-height 0.5s;
        }
        nav ul li {
            display: block;
            margin-right: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        nav ul li a {
            color: #fff;
        }
        .menu-icon {
            display: block;
            cursor: pointer;
        }
    }
    /* media query for less than 600px size*/
    
    @media only screen and (max-width:600px) {
        .row {
            text-align: center;
        }
        .col-2,
        .col-3,
        .col-4 {
            flex-basis: 100%;
        }
        .single-product .row {
            text-align: left;
        }
        .single-product .col-2 {
            padding: 20px 0;
        }
        .single-product h1 {
            font-size: 26px;
            line-height: 32px;
        }
        .cart-info p {
            display: none;
        }
    }
    /*all products page*/
    
    .row-2 {
        justify-content: space-between;
        margin: 100px auto 50px;
    }
    
    select {
        border: 2px solid rgb(240, 178, 178);
        border-radius: 10%;
        padding: 5px;
    }
    
    select:focus {
        outline: none;
    }
    /*Button chuyển trang*/
    
    .page-btn {
        margin: 0 auto 80px;
    }
    
    .page-btn span {
        display: inline-block;
        border: 1px solid #ff523b;
        margin-left: 10px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        cursor: pointer;
    }
    
    .page-btn span:hover {
        background: rgb(240, 178, 178);
        color: #fff
    }
    /*------------Single products details ------------------*/
    
    .single-product {
        margin-top: 80px;
    }
    
    .single-product .col-2 {
        padding: 20px;
    }
    
    .single-product .col-2 img {
        padding: 0;
    }
    
    .single-product h4 {
        margin: 20px 0;
        font-size: 22px;
        font-weight: bold;
    }
    
    .single-product select {
        display: block;
        padding: 10px;
        margin-top: 20px;
    }
    
    .single-product input {
        width: 50px;
        height: 40px;
        padding-left: 10px;
        font-size: 20px;
        margin-right: 10px;
        border: 1.5px solid #ff523b;
    }
    
    input:focus {
        outline: none;
    }
    
    .single-product .fa {
        color: #ff523b;
        margin-left: 10px;
    }
    /*------------Slider images ------------------*/
    
    .small-img-row {
        width: 100%;
        min-width: 10px;
        display: flex;
        justify-content: space-between;
    }
    
    .small-img-col {
        flex-basis: 24%;
        cursor: pointer;
    }
    /*------------Cart Design ------------------*/
    
    .cart-page {
        margin: 80px auto;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    .cart-info {
        display: flex;
        flex-wrap: wrap;
    }
    
    th {
        text-align: left;
        padding: 5px;
        color: #fff;
        background: rgb(201, 117, 117);
        font-weight: normal;
    }
    
    td {
        padding: 10px 5px;
    }
    
    td input {
        width: 40px;
        height: 30px;
        padding: 5px;
    }
    
    td a {
        color: rgb(201, 117, 117);
        font-size: 12px;
    }
    
    td img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }
    
    .total-price {
        display: flex;
        justify-content: flex-end;
    }
    
    .total-price table {
        border-top: 3px solid rgb(201, 117, 117);
        width: 100%;
        max-width: 350px;
    }
    
    td:last-child {
        text-align: right;
    }
    
    th:last-child {
        text-align: right;
    }
    /*------------Login Desing ------------------*/
    
    .account-page {
        padding: 50px 0;
        background: radial-gradient(rgb(255, 255, 255), rgb(26, 187, 166));
    }
    
    .form-container {
        background: #fff;
        width: 300px;
        height: 500px;
        position: relative;
        text-align: center;
        padding: 20px 0;
        margin: auto;
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0, 0.1);
        overflow: hidden;
    }
    
    .form-container span {
        font-weight: bold;
        padding: 0 10px;
        color: #555;
        cursor: pointer;
        width: 100px;
        display: inline-block;
    }
    
    .form-btn {
        display: inline-block;
    }
    
    .form-container form {
        max-width: 300px;
        padding: 0 20px;
        position: absolute;
        top: 120px;
        transition: transform 0.5s;
    }
    
    form input {
        width: 100%;
        height: 30px;
        margin: 5px 0;
        padding: 0 10px;
        border: 1px solid #ccc;
    }
    
    form .checkBox {
        width: 20px;
        border: none;
        height: 10px;
    }
    
    form .btn {
        width: 100%;
        border: none;
        cursor: pointer;
        margin: 10px 0;
    }
    
    form .btn:focus {
        outline: none;
    }
    
    #LoginForm {
        left: 0px;
    }
    
    #RegForm {
        left: -300px;
    }
    
    form a {
        font-size: 16px;
    }
    
    #Indicator {
        width: 100px;
        border: none;
        background: rgb(204, 149, 209);
        height: 3px;
        margin-top: 8px;
        transform: translate3d(100px, 0, 0);
        transition: transform 0.2s;
    } 
    /* End login css*/
    
     /* Start cart css*/
     /*
        màu của chữ trong layout header:  color: rgb(223, 90, 90); đỏ nhạt
        màu hồng nhạt của background rgb(223, 203, 203) đậm hơn 1 chút rgb(240, 178, 178);
        hệ màu thứ 2 radial-gradient(rgb(255, 255, 255), rgb(26, 187, 166): xanh nhạt
        */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*set up thanh navbar*/

.navbar {
    display: flex;
    align-items: center;
    padding: 30px;
}

nav {
    font-size: 20px;
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}


/*set up màu cho Chữ tag a và p*/

a {
    text-decoration: none;
    color: rgb(223, 90, 90);
}

p {
    color: rgb(223, 90, 90);
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}


/*set up thanh row và img của row*/

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    min-width: 120%;
    padding: 100px 0;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}


/*set button tromg row*/

.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1) 0.1s;
}

.btn:hover {
    background: #14a6ca;
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #427388;
}


/*set header*/

.header {
    background: radial-gradient(rgb(190, 175, 175), #ffd6ff);
}

.header .row {
    margin-top: 70px;
}


/*set cho categories*/

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img {
    width: 100%;
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transform: transform 0.5s;
}

.col-4 img {
    width: 100%;
}


/*Dấu gạch ngang Dưới Chữ Feature */

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(110, 110, 110);
}

.title::after {
    content: '';
    background: rgb(240, 131, 131);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate3d(-50px, 0, 0);
}

h4 {
    color: #555;
    font-weight: normal;
}

.col-4 p {
    font-size: 16px;
}

.rating {
    color: #ff523b;
}


/*Hover effect cho category */

.col-4:hover {
    transform: translate3d(5px, -5px, 10px);
}


/*setup offer*/

.offer {
    background: radial-gradient(rgb(255, 255, 255), rgb(26, 187, 166));
    margin-top: 80px;
    padding: 30px 0;
}

col-2 .offer-img {
    padding: 50px;
}

.small {
    color: #555
}


/*---testimonial---*/

.testimonial {
    padding-top: 100px;
}

.testimonial .col-3 {
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 1, 1, 1, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col-3 img {
    width: 50px;
    margin-top: 20px;
    border-radius: 100%;
}

.testimonial .col-3:hover {
    transform: translate3d(0, -10px, 0);
}

.fa .fa-quote-left {
    font-size: 12px;
    color: #ff523b;
}

.col-3 p {
    font-size: 16px;
    margin: 12px 0;
    color: #777;
}

.testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
}


/*---testimonial---*/

.brands {
    margin: 100px auto;
}

.col-5 {
    width: 160px;
}

.col-5 img {
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col-5 img:hover {
    filter: grayscale(0%)
}


/*---footer---*/

.footer {
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p {
    color: #8a8a8a;
}

.footer h3 {
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4,
.footer-col-5 {
    min-width: 250px;
    margin-bottom: 20px;
}

.footer-col-1 {
    flex-basis: 30%;
}

.footer-col-2 {
    flex: 1;
    text-align: center;
}

.footer-col-2 img {
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
    flex-basis: 12%;
    text-align: center;
}

ul {
    list-style-type: none;
}


/*set up Logo cho app*/

.app-logo {
    margin-top: 20px;
}

.app-logo img {
    width: 140px;
}

.footer hr {
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.copyright {
    text-align: center;
}


/*set up Button Menu ở Header*/

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}


/* media query for menu less than 800px size*/

@media only screen and (max-width:800px) {
    nav ul {
        position: absolute;
        top: 70px;
        left: 0;
        background: rgb(204, 149, 209);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
}


/* media query for less than 600px size*/

@media only screen and (max-width:600px) {
    .row {
        text-align: center;
    }
    .col-2,
    .col-3,
    .col-4 {
        flex-basis: 100%;
    }
    .single-product .row {
        text-align: left;
    }
    .single-product .col-2 {
        padding: 20px 0;
    }
    .single-product h1 {
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p {
        display: none;
    }
}


/*all products page*/

.row-2 {
    justify-content: space-between;
    margin: 100px auto 50px;
}

select {
    border: 2px solid rgb(240, 178, 178);
    border-radius: 10%;
    padding: 5px;
}

select:focus {
    outline: none;
}


/*Button chuyển trang*/

.page-btn {
    margin: 0 auto 80px;
}

.page-btn span {
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}

.page-btn span:hover {
    background: rgb(240, 178, 178);
    color: #fff
}


/*------------Single products details ------------------*/

.single-product {
    margin-top: 80px;
}

.single-product .col-2 {
    padding: 20px;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product h4 {
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select {
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input {
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1.5px solid #ff523b;
}

input:focus {
    outline: none;
}

.single-product .fa {
    color: #ff523b;
    margin-left: 10px;
}


/*------------Slider images ------------------*/

.small-img-row {
    width: 100%;
    min-width: 10px;
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}


/*------------Cart Design ------------------*/

.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    background: rgb(201, 117, 117);
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: rgb(201, 117, 117);
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid rgb(201, 117, 117);
    width: 100%;
    max-width: 350px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}
      /* End cart css*/
  